<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Edit Event | APSIT Alumni</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../assets/img/favicon.png" rel="icon">
    <link href="../../assets/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" />
    <link href="../../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/style.css" rel="stylesheet">

    <!-- Jquery with fallback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
     window.jQuery || document.write('<script src="../../assets/vendor/jquery.min.js"><\/script>');
  </script>

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center">

            <h1 class="align-items-center mr-auto"><a href="#"><img id="main_logo" src="../../assets/img/logo.png" alt="APSIT" height="100px"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/news">News</a></li>
                    <li class="active"><a href="/events">Events</a></li>
                    <li><a href="/contribute">Contribute</a></li>
                    <li><a href="/communicate">Communicate</a></li>

                    <% if(loggedInUser.role=="admin"){ %>
                        <li><a href="/admin">Admin Panel</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li class="drop-down"><a href="#"><%= loggedInUser.firstName %> <i class="fas fa-angle-down"></i></a>
                            <ul>
                                <li><a href="/profile"><i class="fas fa-user pr-1"></i>Profile</a></li>
                                <li><a href="/chats"><i class="fas fa-comments pr-1"></i>Chats</a></li>
                                <li><a href="/logout"><i class="fas fa-sign-out-alt pr-1"></i>Logout</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </nav><!-- .nav-menu -->



        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs"><br><br><br>
            <div class="container">

                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li>Event Edit</li>
                </ol>
                <h2>Event Details</h2>

            </div>
        </section><!-- End Breadcrumbs -->


        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="portfolio-details-container">

                    <div class="owl-carousel portfolio-details-carousel">
                        <% event.images.forEach(function(item){ %>
                        <img src="data:image/<%=item.contentType%>;base64, <%=item.data.toString('base64')%>">
                        <%})%>

                    </div>

                    <div class="portfolio-info">
                        <h3>Event information</h3>
                        <ul>
                            <!-- <li><strong>Branch</strong>: All</li> -->
                            <li><strong>Date</strong>: <%= event.date.toGMTString().slice(0,16) %></li>
                        </ul>
                    </div>

                </div>
                <div class="portfolio-description">
                    <h4>Edit Event</h4>
                    <div class="form-group">
                        <form action="/events/<%= event._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" placeholder="Title" class="form-control"
                                    value="<%= event.title %>" >
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Date </label>
                                    <!-- safari & internet explorer doesn't support this date picker-->
                                    <input type="date" id="" name="date"
                                        value=<%= event.date.toISOString().slice(0,10) %> min="2010-01-01"
                                        max="2100-12-31">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="desc" class="form-control"
                                        rows="5"><%= event.description %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="images">Update Images</label>
                                    <!-- <input type="file" name="images" class="form-control-file" multiple> -->
                                    <div class="custom-file ">
                                        <label class="custom-file-label" for="images">Choose files...</label>
                                        <input type="file" id="selectImages" accept=".jpg,.jpeg,.png" name="images" class="custom-file-input" multiple="multiple">
                                      </div>
                                </div>

                                <div class="small mt-0 mb-2">
                                    <i class="fas fa-exclamation-circle"></i>
                                    To keep previous images don't add any files, otherwise they will be replaced.
                                </div>
                                <ul id="selectedImages">
        
                                </ul>

                                <button id="editButton" type="submit" class="btn btn-block btn-primary btn-lg"><i class="fas fa-upload"></i> Update</button>
                        </form>
                    </div>
                </div>

            </div>
        </section><!-- End Portfolio Details Section -->
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter <i class="fas fa-newspaper"></i></h4>
                    <p>To get the latest updates</p>
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="Enter your email...">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-around">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>A. P. Shah Institute Of Technology</h3>
                    <p>
                        Survey No. 12, 13,<br>
                        Opp. Hypercity Mall, Kasarvadavali,<br>
                        Ghodbunder Road, Thane West,<br>
                        Thane, Maharashtra 400615<br><br>
                        <strong>Phone:</strong> +91 9022147199<br>
                        <strong>Email:</strong><a href="mailto:alumni@apsit.edu.in"> alumni@apsit.edu.in</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a href="/">Home</a></li>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a href="/#about">About us</a></li>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a >Terms of service</a></li>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a >Privacy policy</a></li>
                    </ul>
                  </div>
          
                  <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Stay connected to get latest updates.</p>
                    <div class="social-links mt-3">
                      <a href="#" ><i class="fab fa-linkedin-in"></i></a>
                      <a href="#" ><i class="fab fa-instagram"></i></a>
                      <a href="#" ><i class="fab fa-facebook-f"></i></a>
                      <a href="#" ><i class="fab fa-twitter"></i></a>
                      <a href="#" ><i class="fab fa-youtube"></i></a>
                      
                    </div>
                  </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright 2020<strong><span> A. P. Shah Institute Of Technology</span></strong>. All Rights
            Reserved
        </div>
        <div class="credits">

            Designed with ❤ by <a href="">Rajan Khade</a> and <a href="">Chinmay
                Dharap</a>.
        </div>
    </div>
</footer>
<!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->

    <script src="../../assets/vendor/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/jquery.waypoints.min.js"></script>
    <script src="../../assets/vendor/jquery.easing.min.js"></script>
    <script src="../../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../../assets/vendor/venobox.min.js"></script>
    <script src="../../assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../../assets/js/main.js"></script>

    <script>
        $("#selectImages").change(function () {
          if(this.files.length>5) {
          $("#editButton").prop('disabled', true);
        } else {
          $("#editButton").prop('disabled', false);
        }
          $("#selectedImages").html("");
          for (let i = 0; i < this.files.length; i++) {
            let x = "<li>" + this.files[i].name + "</li>";
            $("#selectedImages").append(x);
          }
        });
      </script>
</body>

</html>