<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

    <link href="../../assets/vendor/icofont/icofont.min.css" rel="stylesheet">

</head>
<body>
<div class="container my-5">
    <h1>Admin Panel</h1>

    <div>
        <a href="/">Home</a>
        <% if(loggedInUser){ %>
        logged in as <a href="#"><%= loggedInUser.username %></a>
        <% }%>
        <a href="/admin/logout">Logout</a>
    </div>
    
    <!-- start flash message -->
    <div class="container">
        <% if(successMessage && successMessage.length>0 ){ %>
        <div class="alert alert-success" role="alert">
            <%= successMessage %>
        </div>
        <%}%>
    		<% if(errorMessage && errorMessage.length>0 ){ %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
    </div>
    <!-- end flash message -->
    
    <!-- create new admin -->
    <h4 class="mt-5" >Create new admin user</h4>
    <form action="/admin/signup" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Submit</button>
    </form>
    <!-- load news -->
    <h4 class="mt-5">News</h1>
    <div class="row">

        <% news.forEach(function(item){ %>
        <div class="col-lg-3 col-sm-6 mb-1">
        <div class="card">
            <div>
                <img class="card-img-top" src="data:image/<%=item.images[0].contentType%>;base64, 
                <%=item.images[0].data.toString('base64')%>">
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <p class="text-muted "><%= item.date.toGMTString().slice(0,16) %></p>

                <% if(item.description.length>200){%> 
                    <p class="card-text"><%= item.description.slice(0,197)+"..." %></p>
                <% }else{ %> 
                    <p class="card-text"><%= item.description + " ".repeat(200-item.description.length) %></p>
                <% } %> 
                
                <a href="/news/<%= item._id %>" class="btn btn-info btn-sm">More info</a>
                <a href="/news/<%= item._id %>/edit" class="btn btn-primary btn-sm">Edit News</a>
                <form action="/news/<%= item._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm" >Delete News</button>
                </form>

            </div>
        </div>
        </div>
        <% }); %>
    </div>

    <!-- Add News -->
    <h4 class="mt-5" >Add New News</h4>
    <div class="form-group">
        
    <form action="/news" method="POST" enctype="multipart/form-data" id="newsForm">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title" class="form-control" required="required">
        </div>
        <div class="form-group"> 
            <label>Date: </label>
            <!-- safari & internet explorer doesn't support this date picker-->     
            <input type="date"  name="date" min="2010-01-01" max="2100-12-31" required="required">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="desc" class="form-control" rows="5" required="required"></textarea>
        </div>
        <!-- <input type="text" name="image" placeholder="image URL"> -->
        <div class="form-group">
            <label for="images">Upload Images</label>
            <input type="file" accept=".jpg,.jpeg,.png" name="images"  class="form-control-file" multiple required>
        </div>
        <div class="alert alert-warning">
            <i class="icofont-exclamation-circle"></i>
            Maximum images count: 5, size: 5MB per image. <br>
            Images will be shown in order they present in your file system (if you change sorting order before selecting files the order will change).
        </div>
        <button type="submit" class="btn btn-success" >Submit</button>
    </form>
    </div>

    <!-- load Events -->
    <h4 class="mt-5">Events</h1>
        <div class="row">
    
            <% events.forEach(function(item){ %>
            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="card">
                    <div>
                        <img class="card-img-top" src="data:image/<%=item.images[0].contentType%>;base64, 
                    <%=item.images[0].data.toString('base64')%>">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= item.title %></h5>
                        <p class="text-muted "><%= item.date.toGMTString().slice(0,16) %></p>
    
                        <% if(item.description.length>200){%>
                        <p class="card-text"><%= item.description.slice(0,197)+"..." %></p>
                        <% }else{ %>
                        <p class="card-text"><%= item.description + " ".repeat(200-item.description.length) %></p>
                        <% } %>
    
                        <a href="/events/<%= item._id %>" class="btn btn-info btn-sm">More info</a>
                        <a href="/events/<%= item._id %>/edit" class="btn btn-primary btn-sm">Edit Event</a>
                        <form action="/events/<%= item._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger btn-sm">Delete Event</button>
                        </form>
    
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    
        <!-- Add Event -->
        <h4 class="mt-5">Add New Event</h4>
        <div class="form-group">
    
            <form action="/events" method="POST" enctype="multipart/form-data" id="eventForm">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label>Date: </label>
                    <!-- safari & internet explorer doesn't support this date picker-->
                    <input type="date" name="date" min="2010-01-01" max="2100-12-31" required="required">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="desc" class="form-control" rows="5" required="required"></textarea>
                </div>
                <!-- <input type="text" name="image" placeholder="image URL"> -->
                <div class="form-group">
                    <label for="images">Upload Images</label>
                    <input type="file" accept=".jpg,.jpeg,.png" name="images" class="form-control-file" multiple required>
                </div>
                <div class="alert alert-warning">
                    <i class="icofont-exclamation-circle"></i>
                    Maximum images count: 5, size: 5MB per image. <br>
                    Images will be shown in order they present in your file system (if you change sorting order before selecting files the order will change).
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

    <!-- All Users -->
    <h4 class="mt-5" >Alumni</h4>

    <table id="userTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Year Of Admission</th>
            <th>Year Of Graduation</th>
            <th>Branch</th>
        </thead>
        <tbody>
            <% alumni.forEach(function( user ) { %>
                <tr>
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.yearOfAdmission %></td>
                    <td><%= user.yearOfGraduation %></td>
                    <td><%= user.branch %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <!-- All Students -->
    <h4 class="mt-5" >Students</h4>

    <table id="userTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Year Of Admission</th>
            <th>Year Of Graduation</th>
            <th>Branch</th>
        </thead>
        <tbody>
            <% students.forEach(function( user ) { %>
                <tr>
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.yearOfAdmission %></td>
                    <td><%= user.yearOfGraduation %></td>
                    <td><%= user.branch %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <!-- Manipulate progress bars present on Home Page -->
    <h4 class="mt-5" >Manipulate progress bars present on Home Page</h4>
        <form action="/admin/externalData" method="POST">
            <div class="form-group">
                <label for="">Youtube Video URL</label>
                <input type="text" name="youtubeURL" value="<%= dataFromFile.youtubeURL %>" class="form-control" required="required">
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="">Student Count</label>
                    <input type="number" min="0" max="" name="students" value="<%= dataFromFile.students %>" class="form-control" required="required">
                </div>
                <div class="col">
                    <label for="">Student Progress Percentage</label>
                    <input type="number" min="0" max="100" name="studentsProgress" value="<%= dataFromFile.studentsProgress %>" class="form-control" required="required">
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="">Alumni Count</label>
                    <input type="number" min="0" max="" name="alumni" value="<%= dataFromFile.alumni %>" class="form-control" required="required">
                </div>
                <div class="col">
                    <label for="">Alumni Progress Percentage</label>
                    <input type="number" min="0" max="100" name="alumniProgress" value="<%= dataFromFile.alumniProgress %>" class="form-control" required="required">
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="">Faculty Count</label>
                    <input type="number" min="0" max="" name="faculty" value="<%= dataFromFile.faculty %>" class="form-control" required="required">
                </div>
                <div class="col">
                    <label for="">Faculty Progress Percentage</label>
                    <input type="number" min="0" max="100" name="facultyProgress" value="<%= dataFromFile.facultyProgress %>" class="form-control" required="required">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

</div>
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <!-- to select multiple options from dropdown -->
    <script src="../vendor/chosen/chosen.jquery.js"></script>

    <script src="../vendor/bootstrap/js/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    
    <script src="../javascripts/main.js"></script>
</body>
</html>


