<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/chosen/chosen.min.css">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">

</head>
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-2 d-flex justify-content-between">
                <a href="/">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <!-- start flash message -->
        <div class="container">
            <% if(successMessage && successMessage.length>0 ){ %>
            <div class="alert alert-success" role="alert">
                <%= successMessage %>
            </div>
            <%}%>
        		<% if(errorMessage && errorMessage.length>0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
            </div>
            <% } %>
        </div>
      <!-- end flash message -->

        <h1>Profile</h1>

        <!-- profile photo -->
        <!-- many changes requird here -->
        <div class="my-5">
            <% if( profileImage.data ) { %>
                <img style="border-radius: 20px"
                    src="data:image/<%=profileImage.contentType%>;base64, <%=profileImage.data.toString('base64')%>"
                    width="300" height="200">
            <% } else { %>
                <img style="border-radius: 20px"
                    src="../images/icons/profile-image-placeholder.png" width="200"
                    height="200">
            <% } %>
        </div>
        
        <div class="my-5">

            <form id="profileImageForm" action="/profile/image" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="profileImage">Upload Profile Image</label>
                    <input type="file" accept=".jpg,.jpeg,.png" name="profileImage" class="form-control-file" required="required">
                </div>
                <div class="form-text-sm text-secondary"><i class="icofont-exclamation-circle"></i> Maximum file size is 1MB</div>
            </form>
            <button type="submit" form="profileImageForm" class="btn btn-primary">Update Image</button> <!-- this button is for form above -->

            <% if( profileImage.data ) { %>
                <button type="submit" form="deleteProfileImage" class="btn btn-danger">Remove Image</button> <!-- this button is for form below -->
                <form id="deleteProfileImage" action="/profile/image?_method=DELETE" method="POST"></form>
            <% }%>

        </div>

        <div class="my-5">
        <form action="/profile/accountData" method="post">
            <!-- first & last name -->
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="form-control" value="<%= firstName  %>">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" class="form-control" value="<%= lastName  %>">
            </div>
            <div class="form-group">
                <label for="userType">User Type</label>
                <select name="userType" class="form-control" required="required">
                    <option value="" >Select User Type</option>
                    <option value="alumni" <% if(userType=="alumni") {%>selected="selected "<%}%> >Alumni</option>
                    <option value="student" <% if(userType=="student") {%>selected="selected "<%}%> >Student</option>
                </select>
            </div>
            <!-- ask permission for contact -->
            <%if(userType && userType=="alumni"){%>
            <div class="form-check">
                <div class="form-group">
                        <input type="checkbox" name="receiveMsg" id="receiveMsg" value="true" <% if(receiveMsg) {%>checked="checked "<%}%>>
                        <label class="form-check-label" for="receiveMsg">
                            Would you like to get contacted by students?
                        </label>
                </div>
            </div>
            <%}%>

            <div class="alert alert-warning" role="alert">
                <i class="icofont-exclamation-circle"></i> You will be logged out, if you change the First Name.
            </div>
            <button type="submit" class="btn btn-warning">Update Above Data</button>
        </form>
        </div>

        <!-- other data -->
        <div class="my-5">
        <form action="/profile" method="post">

            <!-- gender -->
            <div class="form-group">
                <label for="profile[gender]">Select Gender</label>
                <br>
                <input type="radio" id="male" name="profile[gender]" value="male" <% if(profile.gender=="male") {%>checked="checked "<%}%>  >
                <label for="male">Male</label>

                <input type="radio" id="female" name="profile[gender]" value="female" <% if (profile.gender=="female") {%>checked="checked "<%}%>>
                <label for="female">Female</label>

                <input type="radio" id="other" name="profile[gender]" value="other" <% if(profile.gender=="other") {%>checked="checked "<%}%>>
                <label for="other">Other</label>
            </div>

            <!-- bio -->
            <div class="form-group">
                <label for="profile[bio]">Bio</label>
                <textarea name="profile[bio]" id="" cols="" rows="5" class="form-control" placeholder="Enter something about you..."><%= profile.bio %></textarea>
            </div>

            <!-- dob -->
            <div class="form-group">
                <label>Date Of Birth: </label>
                <!-- safari & internet explorer doesn't support this date picker-->
                <input type="date" name="profile[dob]"  min="1950-12-31" max="2100-12-31" <% if(profile.dob && profile.dob!="") { %>value="<%= profile.dob.toISOString().slice(0,10)  %>"<% } %>>
            </div>
            <hr><br>

            <h5>Address Information</h5>
            <!-- home address -->
            <div class="form-group">
                <div><strong>Home Address:</strong> </div>
                <label for="profile[address][homeAddress][addressLine1]">Adress Line 1: </label>
                <input type="text" name="profile[address][homeAddress][addressLine1]" value= "<%= profile.address.homeAddress.addressLine1 %>" class="form-control" >
                <div class="form-row">
                    <div class="col-6">
                        <label for="profile[address][homeAddress][country]">Country: </label>
                        <input type="text" name="profile[address][homeAddress][country]" value= "<%= profile.address.homeAddress.country %>" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="profile[address][homeAddress][zipcode]">Zipcode: </label>
                        <input type="text" name="profile[address][homeAddress][zipcode]" value= "<%= profile.address.homeAddress.zipcode %>" class="form-control">
                    </div>
                </div>
            </div>

            <%if(userType && userType=="alumni"){%>
            <!-- business address -->
            <div class="form-group">
                <div><strong>Business Address:</strong> </div>
                <label for="profile[address][businessAddress][addressLine1]">Adress Line 1: </label>
                <input type="text" name="profile[address][businessAddress][addressLine1]" value= "<%= profile.address.businessAddress.addressLine1 %>" class="form-control" >
                <div class="form-row">
                    <div class="col-6">
                        <label for="profile[address][businessAddress][country]">Country: </label>
                        <input type="text" name="profile[address][businessAddress][country]" value= "<%= profile.address.businessAddress.country %>" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="profile[address][businessAddress][zipcode]">Zipcode: </label>
                        <input type="text" name="profile[address][businessAddress][zipcode]" value= "<%= profile.address.businessAddress.zipcode %>" class="form-control">
                    </div>
                </div>
            </div>
            <%}%>
            <hr><br>
            
            <h5>Contact Information</h5>
            <!-- mobile -->
            <div class="form-group">
                <label for="profile[contact][mobile]">Mobile Number</label>
                <input type="tel" name="profile[contact][mobile]" value= "<%= profile.contact.mobile %>" class="form-control" >
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="profile[contact][email]">Email</label>
                <input type="email" name="profile[contact][email]" value= "<%= profile.contact.email %>" class="form-control">
            </div>

            <!-- linkedin -->
            <div class="form-group">
                <label for="profile[social_media][linkedin]">LinkedIn Username</label>
                <input type="text" name="profile[social_media][linkedin]" class="form-control" value= "<%= profile.social_media.linkedin %>" >
            </div>

            <!-- instagram -->
            <div class="form-group">
                <label for="profile[social_media][instagram]">Instagram Username</label>
                <input type="text" name="profile[social_media][instagram]" class="form-control" value= <%= profile.social_media.instagram %> >
            </div>

            <!-- website -->
            <div class="form-group">
                <label for="profile[social_media][website]">Website</label>
                <input type="text" name="profile[social_media][website]" id="website" class="form-control" value= <%= profile.social_media.website %> >
            </div>
            <hr><br>

            <h5>Professionl Information</h5>
            <div class="form-group">
                <div><strong>Education at our institute</strong> </div>

                <!-- Year Of Adminssion -->
                <label for="profile[yearOfAdmission]">Year Of Adminssion</label>
                <select name="profile[yearOfAdmission]" id="yearOfAdmission" class="mr-3">
                    <option value=""></option>
                    <% for( let i = 2010; i <= (new Date).getFullYear(); i++ ) { %>
                    <% if(i==profile.yearOfAdmission) { %>
                    <option value="<%= i %>" selected="selected"><%= i %></option>
                    <% } else { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                    <% } %>
                </select>
            
                <!-- Year Of Graduation -->
                <label for="profile[yearOfGraduation]">Year Of Graduation</label>
                <select name="profile[yearOfGraduation]" id="yearOfGraduation" class="mr-3">
                    <option value=""></option>
                    <% for( let i = 2010; i <= (new Date).getFullYear()+4; i++ ) { %>
                    <% if(i==profile.yearOfGraduation) { %>
                    <option value="<%= i %>" selected="selected"><%= i %></option>
                    <% } else { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                    <% } %>
                </select>
            
                <!-- branch -->
                <label for="profile[branch]">Branch</label>
                <select name="profile[branch]" id="branch" class="mr-3">
                    <option value=""></option>
                    <% ["IT", "Mech", "CS"].forEach(branch => { %>
                    <% if(branch==profile.branch) { %>
                    <option value="<%= branch %>" selected="selected"><%= branch %></option>
                    <% } else { %>
                    <option value="<%= branch %>"><%= branch %></option>
                    <% } %>
                    <% }) %>
                </select>
            </div>

            <%if(userType && userType=="alumni"){%>
            <!-- Work Experience -->

            <div class="form-group">
                <div><strong>Work Experience</strong></div>
                    <% if(Object.entries(profile.workExperience.employer).length>0) { %>
                        <% for(let j=0; j< Object.entries(profile.workExperience.employer).length; j++){ %>
                        <div class="bg-secondary my-3 px-2 py-2">
                            <button type="button" class="removeWork">
                                X
                            </button>
                            
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="employer">Employer</label>
                                    <input type="text" name="profile[workExperience][employer]" class="form-control" value="<%= profile.workExperience.employer[j] %>"
                                        required="required">
                                </div>
                                <div class="form-group col-3">
                                    <label for="jobTitle">Job Title</label>
                                    <input type="text" name="profile[workExperience][jobTitle]" class="form-control" value="<%= profile.workExperience.jobTitle[j] %>"
                                        required="required">
                                </div>
                        
                                <div class="form-group col-3">
                                    <label for="jobDomain">Job Domain</label>
                                    <input type="text" name="profile[workExperience][jobDomain]" class="form-control" value="<%= profile.workExperience.jobDomain[j] %>"
                                        required="required">
                                </div>
                        
                                <div class="form-group col-6">
                                    <label for="jobFrom">job From</label>
                                    <input type="date" name="profile[workExperience][jobFrom]" class="form-control" value="<%= profile.workExperience.jobFrom[j] %>"
                                        required="required">
                                </div>
                        
                                <div class="form-group col-6">
                                    <label for="jobTill">Job Till</label>
                                    <input type="date" name="profile[workExperience][jobTill]" class="form-control" value="<%= profile.workExperience.jobTill[j] %>">
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% } %>

                <div id="addedWork">
                </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#addWorkModal">
                <i class="icofont-ui-add"></i> Add more
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="addWorkModal" tabindex="-1" role="dialog" aria-labelledby="addWorkModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addWorkModalLabel">Add Education</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="workModalData">
                                
                                <div class="form-group">
                                    <label for="employer">Employer</label>
                                    <input type="text" id="workModalData-employer" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="jobTitle">Job Title</label>
                                    <input type="text" id="workModalData-jobTitle" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="jobDomain">Job Domain</label>
                                    <input type="text" id="workModalData-jobDomain"  class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="jobFrom">job From</label>
                                    <input type="date" id="workModalData-jobFrom"  class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="jobTill">Job Till</label>
                                    <input type="date" id="workModalData-jobTill"  class="form-control">
                                </div>
                                <div class="form-text-sm text-secondary"><i class="icofont-exclamation-circle"></i> Do not mention "Job Till" if it's your current job. </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="workModalButton" class="btn btn-primary">ADD</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <%}%>

            <!-- skills -->
            <div class="form-group">
                <label for="profile[skills]">Skills</label>
                <select name="profile[skills]" id="skills" data-placeholder="type to search.." multiple
                    class="form-control chosen-select">
                    <option value=""></option>
                    <% ["Web Dev", "DevOps", "Pen Test"].forEach(skill => { %>
                    <% if( profile.skills.includes(skill) ) { %>
                    <option selected value="<%= skill %>"><%= skill %></option>
                    <% } else { %>
                    <option value="<%= skill %>"><%= skill %></option>
                    <% } %>
                    <% }) %>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Update Data</button>
        </form>
        </div>
        
    </div>
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    
    <!-- to select multiple options from dropdown -->
    <script src="../vendor/chosen/chosen.jquery.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../vendor/bootstrap/js/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>