<%- include('partials/header'); -%>

<div><a href="/">go to Home!</a></div>

<h1>MORE INFO ABOUT NEWS</h1>

<h4><%= news.title %></h1>
<img src="<%= news.image %>" alt="" style="width:200px;height:100px;">
<p><%= news.description %></p>

<%- include('partials/footer'); -%>